body {
    background: #FFFF;
    margin    : 0;
    color     : black;
}


a {
    text-decoration: none;

}

* {
    margin : 0;
    padding: 0;
}

hr {
    height    : 0;
    border    : none;
    border-top: 1px solid #DEDEDE;
}

.clearfix::after {
    content: '';
    display: block;
    clear  : both;
}

.topNavBar nav ul {
    list-style: none;
    padding   : 0;
    margin    : 0;

}

.topNavBar nav ul li {
    float       : left;
    margin-left : 17px;
    margin-right: 17px;

}


.topNavBar nav ul>li>a {
    border-bottom : 3px solid transparent;
    display       : block;
    padding-bottom: 5px;
    padding-top   : 4;


}

.topNavBar {
    padding : 24px 0 24px 0;
    position: fixed;
    left    : 0;
    top     : 0;
    width   : 100%;
}

.topNavBarinner {
    padding: 0 14px 0 20px;
}

.topNavBar nav ul>li>a:hover {
    border-bottom-color: #DC6465;
}

.topNavBar nav a {
    color          : rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-weight    : bold;

}

.topNavBar .logo {
    font-family: "Kozuka Gothic Pr6N H";
    font-size  : 22px;
    font-weight: 600;
    padding-top: 4px;

}

.topNavBar .logo .rs {
    color       : #e6686a;
    margin-right: 4px;
}

.topNavBar .logo .card {

    color: #9A9DA2;
}

.topNavBar nav {
    font-size     : 13px;
    padding-top   : 8px;
    padding-bottom: 8px;
}

.banner {
    height             : 540px;
    background-image   : url(./3xxl.jpg);
    background-position: center center;
    background-size    : cover;
}

.banner .mask {
    height          : 540px;
    background-color: rgba(0, 0, 0, 0.6);
}

.mycard {

    max-width       : 940px;
    margin-left     : auto;
    margin-right    : auto;
    background-color: #FFFFFF;

}

.mycard .welcome {
    background-color: #e6686a;
    color           : white;
    display         : inline-block;
    padding         : 4px 16px;
    line-height     : 22px;
    position        : relative;
    margin-bottom   : 10px;
}

.mycard .welcome .triangle {
    display          : block;
    border           : 10px solid transparent;
    width            : 0px;
    height           : 0px;
    border-left-color: #e6686a;
    border-top-width : 0px;
    position         : absolute;
    left             : 5px;
    top              : 100%;


}

.text {
    float      : left;
    margin-left: 50px;
    width      : 490px;
}

.text h1 {
    margin-top: 18px;

}

.text hr {
    margin: 20PX;
}

.picture {
    float: left;

}

.pictureAndText {
    padding: 50px;
}

.mycard dl dt,
.mycard dl dd {
    float : left;
    margin: 10px 0;
}

.mycard dl dt {
    width      : 30%;
    font-weight: bold;

}

.mycard dl dd {
    width: 70%;
    color: #9da0a7;
}

.mycard>footer.media {
    background: #e6686a;
    text-align: center;


}

.mycard>footer.media>a {
    display      : inline-block;
    width        : 40px;
    line-height  : 30px;
    padding      : 5px 0;
    border-radius: 50%;
    margin       : 16px;
}

.mycard>footer.media>a:hover {
    background: #cf5d5f;
}

.mycard svg {
    width         : 30px;
    height        : 30px;
    fill          : white;
    vertical-align: top;
}

