.heibai {
    width           : 300px;
    height          : 300px;
    border          : 1px solid red;
    border-radius   : 50%;
    background-color: #FFFFFF;
    background-image: linear-gradient(270deg, #FFFFFF 50%, #000000 50%);
    background-image: -moz-linear-gradient(270deg, #FFFFFF 50%, #000000 50%);
    position        : relative;
}

.heibai .one {
    width : 150px;
    height: 150px;

    position     : absolute;
    background   : black;
    border-radius: 50%;
    top          : 80px;
    left         : 0;
}

.heibai .two {
    width : 150px;
    height: 150px;

    position     : absolute;
    background   : white;
    border-radius: 50%;
    top          : 80px;
    right        : 0;
}

.heibai .xiaoone {
    width        : 40px;
    height       : 40px;
    border-radius: 50%;
    background   : white;
    position     : absolute;
    left         : 55px;
    top          : 135px;
}

.heibai .xiaotwo {
    width        : 40px;
    height       : 40px;
    border-radius: 50%;
    background   : black;
    position     : absolute;
    right        : 55px;
    top          : 135px;
}